{{/*
  extends: header.html
*/}}

{{ define "heading" }}
  {{ $lower := to_lower . }}
  <h2 id="pkg-{{ $lower }}">{{ . }}
    <a class="doc-anchor slide-up" href="#">{{ fa "caret-up" }}</a>
    <a class="doc-anchor" href="#pkg-{{ $lower }}">{{ fa "link" }}</a>
  </h2>
{{ end }}

{{ define "values" }}
  {{ $p := .Package }}
  {{ range .Values }}
    <pre class="doc">{{ $p.HTMLDecl .Decl }}</pre>
    {{ $p.ScopedHTML .Doc .Decl }}</p>
  {{ end }}
{{ end }}

{{ define "funcs" }}
  {{ $p := .Package }}
  {{ range .Funcs }}
    {{ $id := func_id . }}
    <h4 id="{{ $id }}">func {{ func_name .Decl }}
      <a class="doc-anchor" href="#{{ $id }}">{{ fa "link" }}</a>
      <a class="doc-anchor" href="{{ $p.ReversePos .Decl }}">{{ fa "external-link" }}</a>
    </h4>
    <pre class="doc">{{ $p.HTMLDecl .Decl }}</pre>
    {{ $p.ScopedHTML .Doc .Decl }}</p>
  {{ end }}
{{ end }}


{{ define "content" }}
<div class="pkg-doc">
{{ with .Package }}
  {{ $package := . }}
  <div class="container">
    {{ if .ImportPath }}
      <div>
        <span class="import">import "{{ .ImportPath }}"</span>
        {{ $stats := .Stats }}
        {{ with $stats }}
          <div class="pull-right">
            {{ $p := .DocumentedPercentage }}
            <a class="shield"{{ if lt $p 100.0 }} rel="popover" href="#pkg-undocumented"{{ end }}>
              <span class="shield-label">
                docs
              </span>
              <span class="shield-status {{ documented_color $p }}">
                {{ printf "%.2f" $p }}%
              </span>
            </a>
            {{ $ic := len .Problems }}
            <a class="shield"{{ if $ic }} rel="popover" href="#pkg-issues"{{ end }}>
              <span class="shield-label">
                issues
              </span>
              <span class="shield-status {{ issues_color $ic }}">
                {{ with $ic }}{{ . }}{{ else }}none{{ end }}
              </span>
            </a>
            {{ $c := .AverageComplexity }}
            <a class="shield" rel="popover" href="#pkg-complexities">
              <span class="shield-label">
                 complexity
              </span>
              <span class="shield-status {{ complexity_color $c }}">
                {{ printf "%.2f" $c }}
              </span>
            </a>
          </div>
        {{ end }}
      </div>
      {{ with $stats }}
        <div id="pkg-undocumented" class="doc-popover" data-title="To Document">
          <table class="table table-striped">
            <tbody>
              {{ if not .HasDoc }}
                <tr><td>The package's <a href="http://blog.golang.org/godoc-documenting-go-code">documentation</a></td><td><span class="label label-success">+{{ .NoDocPenalty }}%</span></td></tr>
              {{ end }}
	      {{ range .Undocumented }} 
                <tr><td><a href="#{{ .Id }}">{{ . }}</a></td><td><span class="label label-success">+{{ printf "%.2f" ($stats.DocumentedIncrease .Kind) }}%</span></td></tr>
              {{ end }}
            </tbody>
          </table>
        </div>
        {{ with .Problems }}
          <div id="pkg-issues" class="doc-popover" data-title="Issues detected">
            <table class="table table-striped">
              <tbody>
                {{ range . }}
                  <tr><td><a href="{{ $package.ReversePosition .Position }}">{{ with .Position }}{{ .Filename }}:{{ .Line }}{{ end }}</a></td><td>{{ .Text }}</td></tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
        {{ with .SortedComplexities }}
          <div id="pkg-complexities" class="doc-popover" data-title="Cyclomatic Complexities">
            <table class="table table-striped">
              <tbody>
                {{ range . }}
                <tr>
                    <td>{{ with .Func }}<a href="{{ $package.FuncLink . }}">{{ func_name . }}</a>{{ end }}</td>
                    <td>{{ with .Complexity }}<span class="label label-{{ bootstrap_color (complexity_color .) }}">{{ . }}</span>{{ end }}</td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $doc := .Doc }}
    {{ with .Synopsis }}
      <h2>Overview</h2>
      <div class="synopsis">
        {{ . }}
      </div>
    {{ end }}
    {{ if .ImportPath }}<h2>Index</h2>{{ end }}
    <ul class="list-unstyled">
      {{ if .HasDoc }}
        <li><a href="#pkg-documentation">Documentation</a></li>
      {{ end }}
      {{ with $doc }}
        {{ with .Consts }}
          <li><a href="#pkg-constants">Constants</a></li>
        {{ end }}
        {{ with .Vars }}
          <li><a href="#pkg-variables">Variables</a></li>
        {{ end }}
      {{ end }}
    </ul>
    {{ with $doc }}
      {{ with .Types }}
        <h3>Types</h3>
        <ul class="list-unstyled">
          {{ range . }}
            <li><a href="#{{ type_id . }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Funcs }}
        <h3>Functions</h3>
        <ul class="list-unstyled">
          {{ range . }}
            <li><a href="#{{ func_id . }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    {{ end }}
    {{ with .Packages }}
      <h3>Subpackages</h3>
      <table class="table table-striped">
        <tbody>
          {{ range . }}
            {{ $p := .ImportPath }}
            <tr><td><a href="{{ reverse "doc" $p }}">{{ $p }}</a></td><td>{{ .Synopsis }}</td></tr>
          {{ end }}
      </table>
    {{ end }}
    {{ if .Filenames }}
      <h3>Files</h3>
        <ul class="list-inline list-unstyled">
          {{ range .Filenames }}
            <li><a href="{{ $package.ReverseFilename . }}">{{ . }}</a></li>
          {{ end }}
        </ul>
    {{ end }}
    {{ if .HasDoc }}
      {{ template "heading" "Documentation" }}
      <div>
        {{ .HTMLDoc }}
      </div>
    {{ end }}
    {{ with $doc }}
      {{ with .Consts }}
        {{ template "heading" "Constants" }}
        <div>
          {{ template "values" map "Package" $package "Values" . }}
        </div>
      {{ end }}
      {{ with .Vars }}
        {{ template "heading" "Variables" }}
        <div>
          {{ template "values" map "Package" $package "Values" . }}
        </div>
      {{ end }}
      {{ with .Types }}
        {{ template "heading" "Types" }}
        <div>
          {{ range . }}
            {{ $id := type_id . }}
            <h3 id="{{ $id }}">type {{ .Name }}
              <a class="doc-anchor" href="#{{ $id }}">{{ fa "link" }}</a>
              <a class="doc-anchor" href="{{ $package.ReversePos .Decl }}">{{ fa "external-link" }}</a>
            </h3>
            <pre class="doc">{{ $package.HTMLDecl .Decl }}</pre>
            {{ $package.ScopedHTML .Doc .Decl }}
            {{ template "values" map "Package" $package "Values" .Consts }}
            {{ template "values" map "Package" $package "Values" .Vars }}
            {{ template "funcs" map "Package" $package "Funcs" .Funcs }}
            {{ template "funcs" map "Package" $package "Funcs" .Methods }}
          {{ end }}
        </div>
      {{ end }}
      {{ with .Funcs }}
        {{ template "heading" "Functions" }}
        <div>
          {{ range . }}
            {{ $id := func_id . }}
            <h3 id="{{ $id }}">func {{ .Name }}
              <a class="doc-anchor" href="#{{ $id }}">{{ fa "link" }}</a>
              <a class="doc-anchor" href="{{ $package.ReversePos .Decl }}">{{ fa "external-link" }}</a>
            </h3>
            <pre class="doc">{{ $package.HTMLDecl .Decl }}</pre>
            {{ $package.ScopedHTML .Doc .Decl }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
</div>
{{ end }}
