{{/*
  extends: header.html
*/}}

{{ define "package" }}
  {{ $p := .ImportPath }}
  <tr><td><a href="{{ reverse "doc" .ImportPath }}">{{ .ImportPath }}</a></td><td>{{ .Synopsis }}</td></tr>
  {{ range .Packages }}
      {{ template "package" . }}
  {{ end }}
{{ end }}

{{ define "content" }}
{{ range .Groups }}
  <div class="container">
    <h2>{{ .Title }}</h2>
    <table class="table table-striped">
      <tbody>
        {{ range .Packages }}
          {{ template "package" . }}
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
{{ end }}
